<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<h3>Aplicacion desarrollada por Jose Angel Vadillo<br>
Profesor de la Facultad de Informatica de la UPV/EHU</h3>
<table><tr><td>
<img src="images/Yo.gif" alt="JA Vadillo" height="120" width="100">
</td>
</tr>
</table>
</body>
</html>