<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<h3>Aplicacion desarrollada por Jose Angel Vadillo<br>
Profesor de la Facultad de Informatica de la UPV/EHU</h3>
<<<<<<< HEAD
<table align="right"><tr><td>
<img src="images/yo.gif" alt="JA Vadillo" height="120" width="100">
</td>
<td align="right">
<video width="200" height="200" controls>
=======
<p><p><p>
<img src="images/Yo.gif" alt="JA Vadillo" height="200" width="180"></img><p>
<video width="320" height="240" controls>
>>>>>>> d81a2107a28ab4f5bfc072150ba9f6d99ad3c11a
  <source src="images/movie.mp4" type="video/mp4">
  <source src="images/movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
</td></tr></table>
</body>
</html>
