<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'><title>Preguntas</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	<link rel='stylesheet' 
		   type='text/css' 
		   media='only screem and {min-width: 530px} and {min-device-width: 481px}'
		   href='/stylesheets/wide.css' />
	<link rel='stylesheet' 
		   type='text/css' 
		   media='only screem and {max-width: 480px}'
		   href='/stylesheets/smartphone.css' />
  </head>
  <body>
  <div id='page-wrap'>
	<header class='main' id='h1'>
		<h2>Quiz: el juego de las preguntas</h2>
    </header>
	<nav class='main' id='n1' role='navigation'>
		<spam><a href='/'>Inicio</a></spam>
		<spam><a href='/quizes/question'>Preguntas</a></spam>
		<spam><a href='/author'>Creditos</a></spam>
	<section class='main' id='s1'>
		<%- body %>
	</section>
	<footer class='main' id='f1'>
		<a href='https://github.com/jipvazoj/quiz'>Link GITHUB</a>
	</footer>
</div>
</body>
</html>
